body{
	background-image: url(images/design-tools.jpg);
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1{
  color:white;
  text-align: center;
  font-style: italic;

}

h3{
  font-weight: normal;
  text-decoration: underline;
}


ul{
	color: rgb(255, 255, 255);
	font-size: 26px;
}

ul li {
	color: white;
}


li{

text-align: justify;
background-color: rgba(43, 37, 52, 0.70);
font-size: 22px;
line-height: 23px;
}

#titulo{
	background-color: rgba(43, 37, 52, 0.70);
	color: rgba(203, 255, 95, 0.83);
}

.destacado{
	background-color: rgba(43, 37, 52, 0.70);
	color: rgba(203, 255, 95, 0.83);
	font-size: 22px;
}
form{
text-align: left;
position: relative;
left: 400px;
}
img:hover{
	border-radius: 20px ;

}
.ceve{
		background-color: rgba(43, 37, 52, 0.70);
		color: rgba(0, 0, 0, 1);
		font-size: 22px;
}

a:hover{
color: rgb(255,255,255);
}

.media {
	color: rgba(203, 255, 95, 1);
}

label{
	color: rgb(255, 255, 255);
	font-size: 26px;
}

input:focus{

	background-color:rgba(203, 255, 95, 1)

}
textarea{
	resize: vertical;
}
.sex {
	color: rgb(255, 255, 255);
	font-size: 26px;
}
p{
color:rgb(224, 224, 224);

}
